<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="style.css">
</head>
<body>

<!-- add new item template -->
<template id="add-item-template">
  <div class="input-group">
    <input v-model="newItem"
           @keyup.enter="addItem"
           class="form-control shopping-list__input"
           placeholder="Add shopping list item"
           type="text">
    <span class="input-group-btn">
      <button type="button"
              @click="addItem"
              class="btn btn-default shopping-list__button">Add!</button>
    </span>
  </div>
</template>

<!-- list item template -->
<template id="item-template">
  <li class="list-group-item list__item"
      :class="{ 'list__item--removed': item.completed }">
    <label>
      <input v-model="item.completed"
             class="item__input"
             type="checkbox">{{ item.name }}
    </label>
  </li>
</template>

<!-- items list template -->
<template id="items-template">
  <ul class="list-group shopping-list__list">
    <item-component v-for="item in items"
                    :item="item"></item-component>
  </ul>
</template>

<!-- change title template -->
<template id="change-title-template">
  <div>
    <em>Change the title of your shopping list</em>
    <input :value="value"
           @input="onInput"
           type="text"
           class="footer__input form-control">
  </div>
</template>

<div id="shopping-list"
     class="shopping-list">
  <h1 class="page-header shopping-list__header">{{ title }}</h1>
  <add-item-component></add-item-component>
  <ul class="list-group shopping-list__list">
    <items-component :items="items"></items-component>
  </ul>
  <div class="shopping-list__footer">
    <hr>
    <change-title-component v-model="title"></change-title-component>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="script.js"></script>
</body>
</html>
